// common variables and such, included in each component via vue's styles-resources-loader (see vue.config)

$white: #f0efef;
$dark: #222222;
$grey: #343434;
$lime: #3adda6;

// neutrals 

$black:        hsl(0, 0%, 4%);
$blackish:    hsl(0, 0%, 7%);
$black-grey:    hsl(0, 0%, 14%);
$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$white-grey:    hsl(0, 0%, 96%);
$whiteish:    hsl(0, 0%, 98%);
$white:        hsl(0, 0%, 100%);

// font weights

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

// screen sizes

$mobile: 600px;
$tablet: 768px;
$medium: 992px;
$large: 1200px;
$x-large: 1500px; 

body {
	margin:0;
}

@font-face {
    font-family: 'SweetSans';
    src: url('~@/assets/fonts/SweetSansPro-Bold.woff2') format('woff2'),
        url('~@/assets/fonts/SweetSansPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SweetSans';
    src: url('~@/assets/fonts/SweetSansPro-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/SweetSansPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SweetSans';
    src: url('~@/assets/fonts/SweetSans-Thin.woff2') format('woff2'),
        url('~@/assets/fonts/SweetSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SweetSans';
    src: url('~@/assets/fonts/SweetSansPro-Medium.woff2') format('woff2'),
        url('~@/assets/fonts/SweetSansPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

